body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 20px;



}

.background-main {
    background-image: url("../img/back-main.jpeg");
    background-position: center; /* Центрируем изображение */
    background-size: cover; /* Чтобы изображение заполнило весь фон */
}

.admin-container {
    width: 100%; /* Устанавливаем ширину контейнера на 100% */
    margin: auto;
}

.admin-header {
    width: auto; /* Устанавливаем ширину заголовка на 100% */
    display: flex;
    align-items: center;
    background-color: #f0f0f0; /* Добавляем фон для заголовка */
    text-align: center;
}

.admin-button {
    background-color: rgba(0,0,0,0.5); /* Цвет фона */
    color: white; /* Цвет текста */
    border-radius: 10px; /* Закругленные углы */
    padding: 1% 30px; /* Увеличенные отступы для большей высоты и ширины */
    margin-right: 3%; /* Отступ справа */
    cursor: pointer; /* Указатель при наведении */
    font-size: 18px; /* Размер шрифта */
    font-weight: bold;
    border: 2px solid transparent; /* Прозрачная граница по умолчанию */
    transition: background-color 0.2s; /* Плавный переход для фона */
    min-width: 150px; /* Минимальная ширина кнопки */
    width: 17%;
}

.admin-button:hover {
    background-color: #222; /* Более светлый цвет фона при наведении */
}

.admin-table {
    background-color: #fff; /* Добавляем фон для заголовка */
    width: 100%; /* Устанавливаем ширину таблицы на 100% */
    table-layout: auto; /* Автоматическая ширина столбцов */
    border-collapse: collapse; /* Убираем двойные границы */
}

.admin-table th, .admin-table td {
    border: 1px solid #ddd; /* Граница для ячеек */
    padding: 8px; /* Отступы для ячеек */
    text-align: left; /* Выравнивание текста в ячейках */
}

.detail-photo {
    width: 50px; /* Ширина фото */
    height: auto; /* Автоматическая высота */
}

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Фиксированное положение */
    z-index: 1; /* Сверху */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: none; /* Прокрутка, если необходимо */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
    background-color: white; /* Фон модального окна */
    padding: 20px; /* Отступы */
    margin-left: auto;
    margin-right: auto;
    height: 95%;
    border: 3px solid black; /* Граница */
    width: 30%; /* Ширина модального окна */
    border-radius: 30px;
    background-image: url("../img/background.jpeg");
    background-size: cover; /* Чтобы изображение заполнило весь фон */
    background-position: center; /* Центрируем изображение */
}

.close {
    color: black; /* Цвет для кнопки закрытия */
    float: right; /* Выравнивание вправо */
    font-size: 28px; /* Размер шрифта */
    font-weight: bold; /* Жирный текст */
}

.close:hover,
.close:focus {
    color: red; /* Цвет при наведении */
    cursor: pointer; /* Указатель при наведении */
}

/* Адаптивные стили */
@media (max-width: 1000px) {
    .admin-table th, .admin-table td {
        font-size: 14px; /* Уменьшаем размер шрифта для маленьких экранов */
    }
}

.form-container {
    max-height: 99%; /* Установите максимальную высоту контейнера */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    padding: 10px; /* Отступы внутри контейнера */
    border: 1px solid #ddd; /* Граница для визуального отделения */
    border-radius: 5px; /* Закругленные углы */
    background-color: #f9f9f9; /* Цвет фона контейнера */
}

.form-row {
    display: flex; /* Используем Flexbox для размещения колонн */
    justify-content : space-between; /* Распределяем пространство между колоннами */
    margin-bottom: 15px; /* Отступ между строками */
}

.form-group {
    flex: 1; /* Каждая группа занимает равное пространство */
    margin-right: 10px; /* Отступ между колоннами */
}

.form-group:last-child {
    margin-right: 0; /* Убираем отступ у последней группы */
}

.modal-content {
    background-color: white; /* Фон модального окна */
    padding: 20px; /* Отступы */
    margin-left: auto;
    margin-right: auto;
    height: auto; /* Убираем фиксированную высоту */
    max-height: 99%; /* Устанавливаем максимальную высоту (99% от высоты экрана) */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    border: 3px solid black; /* Граница */
    width: 30%; /* Ширина модального окна */
    border-radius: 30px;
    background-image: url("../img/background.jpeg");
    background-size: cover; /* Чтобы изображение заполнило весь фон */
    background-position: center; /* Центрируем изображение */
}
