<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="../static/css/basket.css"> &lt;!&ndash; Подключаем CSS для блока content &ndash;&gt;-->
    <title>Корзина</title>
    <link rel="stylesheet" href="../static/css/admin.css"> <!-- Подключаем CSS для блока content -->
    {% extends "base.html" %}

<!--    <link rel="stylesheet" href="../static/css/basket.css">-->
</head>
<body>
{% block content %}
    <div id="menu" class="menu">
        <a href="./">На главную</a>
        <a href="./contacts">Контакты</a>
        <a href="./guarantees">Гарантии</a>
        <a href="#" onclick="toggleMenu()">Закрыть меню</a>
    </div>
    <div class="admin-container">

    <header class="admin-header background-main">
        <h1>Корзина</h1>
    </header>

    <table class="admin-table">
        <thead>
            <tr>
                <th>Артикул</th>
                <th>Марка</th>
                <th>Модель</th>
                <th>Наименование</th>
                <th>Цена</th>
                <th>Цена по карте</th>
                <th>Фото</th>
                <th>Итого</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="cartItems">
            {% for detail in details %}
            <tr data-detail-ID_detail="{{ detail.ID_detail }}">
                <td>{{ detail.ID_detail }}</td>
                <td>{{ detail.brand }}</td>
                <td>{{ detail.model_and_year }}</td>
                <td>{{ detail.name }}</td>
                <td>{{ detail.price }} руб.</td>
                <td>{{ detail.price_w_discount }} руб.</td>
                <td><img src="{{ detail.photo }}" alt="Фото" style="width: 50px; height: auto;"></td>
                <td>{{ detail.price }} руб.</td> <!-- Или используйте другую логику для расчета -->
                <td><button onclick="removeFromBasket('{{ detail.ID_detail }}')">Удалить</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p id="total">Итого: {{ total_price }} руб.</p>
    <p id="totalCard">Итого по карте: {{ total_card_price }} руб.</p>

    <button id="checkoutButton">Оформить заказ</button>
    {% endblock %}

    </div>
</body>
</html>