<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный профиль</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>

<header>
    <div class="buttons">
        <a href="./" class="text-profile" style="border: white solid 2px">На главную</a>
    </div>
    <a href="./" class="title">AutoNova - Личный кабинет</a>
    <div class="buttons">
        <a href="./logout" class="text-profile" style="border: white solid 2px"> Выйти </a>
    </div>
</header>

<main role="main" class="container">
    <form method="POST" action="/edit_profile">
<!-- Укажите правильный маршрут для обработки формы -->
        {{ form.hidden_tag() }}

        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ form.phone.label }}<br>
            {{ form.phone(size=32, readonly=True, class="readonly") }}<br>
            {% for error in form.phone.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}<br>
            {% for error in form.address.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        {% if message %}
        <div class="error-message">
            {{ message }}
        </div>
        {% endif %}
        <div>
            <button type="submit" class="submit-button">Сохранить</button>
        </div>
        
<!--        <div style="text-align: center; margin: 20px 0;">-->
<!--            <a href="/change_password" class="button" style="text-decoration: none; padding: 10px 20px; background: #007bff; color: white; border-radius: 5px;">Изменить пароль</a>-->
<!--        </div>-->
    </form>

</main>
<script src="./static/js/scripts.js"></script>
</body>
</html>