<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../../static/css/style.css"></link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "base.html" %}
</head>
<body>

{% block content %}
<div id="menu" class="menu">
    <a href="./">На главную</a>
    <a href="./contacts">Контакты</a>
    <a href="#" onclick="toggleMenu()">Закрыть меню</a>
</div>

<div class="content">
    <h1>Гарантия на запчасти</h1>
    <p>Компания АвтоАйрон реализует комиссионные, бывшие в употреблении запчасти. Правильность геометрии кузовной запчасти, работоспособность электрической запчасти и пр. зачастую можно определить только при установке на автомобиль. Наша компания такие проверки не производит.</p>

    <p>Время на установку и проверку б/у запчастей – 1 день.</p>

    <h2>Возврат и обмен запчастей</h2>
    <p>Возврат и обмен запчастей осуществляется с Понедельника по Пятницу при выполнении следующих условий:</p>
    <ul>
        <li>Сохранение внешнего вида</li>
        <li>Сохранение маркировки</li>
        <li>Наличие товарного чека</li>
    </ul>
</div>

{% endblock %}

</body>
</html>